# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_database_user
MYSQL_PASSWORD=your_database_password

# JWT
JWT_SECRET=your_jwt_secret

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=your_mercadopago_access_token

# Timezone
TZ=America/Sao_Paulo