<button class="hamburger" (click)="toggle()">
  <span></span>
  <span></span>
  <span></span>
</button>

<div class="overlay" [class.active]="isOpen" (click)="close()"></div>

<aside class="sidebar" [class.open]="isOpen">
  <div class="logo">SGF</div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active" (click)="close()">Dashboard</a>

    <a routerLink="/users" routerLinkActive="active" *ngIf="isAdmin()" (click)="close()">
      Users
    </a>

    <a routerLink="/clients" routerLinkActive="active" (click)="close()">Clients</a>
    <a routerLink="/contracts" routerLinkActive="active" (click)="close()">Contracts</a>
    <a routerLink="/invoices" routerLinkActive="active" (click)="close()">Invoices</a>

    <a routerLink="/refunds" routerLinkActive="active" *ngIf="isAdminOrGestor()" (click)="close()">
    Refunds
    </a>

    <a routerLink="/financial-parameters" routerLinkActive="active" *ngIf="isAdminOrGestor()" (click)="close()">
      Parameters
    </a>

    <a routerLink="/reconciliation" routerLinkActive="active" (click)="close()">Reconciliation</a>

    <a routerLink="/audit-logs" routerLinkActive="active" *ngIf="isAdmin()" (click)="close()">
      Audit
    </a>
  </nav>
</aside>
